<h1>Redeem a gift card</h1>

<p>Perform a POST request to the following url: <a href="https://doc.giift.com/?urls.primaryName=Card" target="_blank"><code>https://sandbox.giift.com/api/card/v1/debit/&lt;card_id&gt;</code></a>.</p>
<p>Content-type sould be <code>application/x-www-form-urlencoded</code><!-- or <code>application/json</code>-->.</p>
<p>List of parameters:
	<table class="table table-bordered">
		<tr>
			<th>Parameter</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><code>amt</code></td>
			<td>Amount in the program unit to be debited from the card.</td>
		</tr>
	</table>
</p>
<p>Full API reference can be found <a href="https://doc.giift.com/?urls.primaryName=Card" target="_blank">here</a>.</p>
