<h1>Purchase Reporting</h1>
<p>There are two ways to review or download all the transactions you are making through the API.
	<ul>
		<li>Connect to Giift.com and access the "Purchase Orders" Report directly from the reporting module.</li>
		<li>Use the reporting API to access the data programmatically.</li>
	</ul>
</p>
<p>In both cases you will need a Giift.com access. Please <a href="mailto:retailer-support@giift.com">send us an email</a>, and we will be in contact to set up an account.</p>
<p>You will have access to all the transactions and their current delivery status.</p>
<img src="images/purchase_reporting.png"/>
