<h1>Purchase API in Giift.com</h1>

<p>The Giift.com API is a REST based API that allows you to purchase products available in the Giift.com catalogue. Among them are gift cards to be delivered electronically and products to be mailed.</p>
<p>There is no significant differences in the way Giift handles these two types of products during a purchase.</p>
  <ol type="1">
    <li>The user creates a cart object.</li>
    <li>The user adds one or several items in his/her cart (gift cards or physical products)</li>
    <li>The user converts his/her cart object into an official order.</li>
    <li>The user reviews and chooses all the possible method to deliver his/her products (email, sms, mail, simple API response).</li>
    <li>The users chooses a payment method and submit a payment.</li>
  </ol>
</p>
<p>Nevertheless, the purchase of one Gift Card is a very common one and an <a href="http://giift.github.io/#!/giiftloyalty/web/buy#express" target="_self">express</a> way of doing it is available without going through the previous 5 steps.</p>
<p>The <a href="http://giift.github.io/#!/giiftloyalty/web/purchase_basket" target="_self">next section</a> will describe in details how to use the Giift.com API to process a complete purchase order.</p>
