<h1><a id="FormRSDK_0"></a>FormR-SDK</h1>

<h2><a id="Usage_2"></a>Usage</h2>
<p>To run the example project, clone the repo, and run <code>pod install</code> from the ROOT directory first.</p>

<h3><a id="_Swift_6"></a>* Swift</h3>
<p>Open the FormR.xcworkspace and run the FormUISwift target.</p>

<h3><a id="_Objective_C_9"></a>* Objective C</h3>
<p>Open the FormR.xcworkspace and run the FormUI target.</p>

<h2><a id="Requirements_12"></a>Requirements</h2>
<p>iOS 7.0 and above</p>

<h2><a id="Installation_16"></a>Installation</h2>
<p>Add the following line to your Podfile:</p>
<pre><code class="language-ruby">platform <span class="hljs-symbol">:ios</span>, <span class="hljs-string">'7.0'</span>

pod <span class="hljs-string">'FormR'</span>, <span class="hljs-symbol">:git</span> <span class="hljs-string"> => 'git@bitbucket.org:giiftalldev/formr-ios-uat.git'</span>, <span class="hljs-symbol">:branch</span> =&gt; <span class="hljs-string">'master'</span>
</code></pre>

<h2><a id="Author_26"></a>Author</h2>
<p>Koh Chin Wee, chinweekoh@giift.com</p>

<h2><a id="License_30"></a>License</h2>
<p>FormR.framework is available under the MIT license. See the LICENSE file for more info.</p>