<h1>Overview</h1>

<p>The Giift.com API is a REST based API that allows you to access Giift.com services programmatically.
In order to get access to the API you need to be a customer of Giift.com and have completed the API onboarding process.
Depending on your contract with Giift.com, you will be able to :</p>
<p>
	<ol type="1">
		<li>Issue gift cards</li>
		<li>Top up gift cards</li>
		<li>Buy miles/points</li>
		<li>Buy Telephone Top Up</li>
		<li>Credit points on a loyalty program</li>
		<li>Debit value on a loyalty program</li>
	</ol>
</p>
<h5>Servers</h5>
<p>There are two API servers, a production API server, and a test API server, when you are given
access to the API from Giift.com staff, you will be given access to both. Before you start using
the production API, it is recommended that you use the test API to make sure your application is
working correctly. If you need help with your testing, please let us know and we can help you
validate that your API code is working correctly.</p>
<br>
<p>API Documentation URL: <code>https://doc.giift.com/</code></p>
<p>Test API URL: <code>https://sandbox.giift.com/</code></p>
<p>Production API URL: <code>https://www.giift.com/</code></p>
